@charset "UTF-8";

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Bold";
    src: local("OperatorMono-Bold.otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Bold Italic";
    src: local("OperatorMono-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Book";
    src: local("OperatorMono-Book.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Book";
    src: local("OperatorMono-BookItalic.otf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Light";
    src: local("OperatorMono-Light.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Light";
    src: local("OperatorMono-LightItalic.otf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Medium";
    src: local("OperatorMono-Medium.otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono Medium";
    src: local("OperatorMono-MediumItalic.otf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono XLight";
    src: local("OperatorMono-XLight.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Operator Mono";
    font-face-name: "Operator Mono XLight";
    src: local("OperatorMono-XLightItalic.otf");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
