@import "variables";

body {
  background-color: $light-mode__bg;
}

a {
  text-decoration: none;
}

.container {
  max-width: 800px;
}

.page-mt {
  margin-top: 6.5em;
  margin-bottom: 6.5em;
}

.note {
  background: #fffaf0;
  border: 1px solid #ed8937;
  color: #ed8937;
  border-radius: 4px;
  padding: 6px 16px;
  margin-top: 8px;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {
  body {
    font-size: 1.2em
  }
  h1 { font-size: 4.0rem; }
  h2 { font-size: 3.2rem; }
  h3 { font-size: 2.6rem; }
  h4 { font-size: 2.0rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.4rem; }
  .page-mt {
    margin-top: 6em;
    margin-bottom: 6em;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .header {
    margin-top: 18rem;
  }
  body {
    font-size: 1.5em
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@media (prefers-color-scheme: dark) {
  @import "dark";
}
