@import "variables";

body {
    background-color: $light-mode__bg;
}

a {
    text-decoration: none;
}

.container {
    max-width: 800px;
}

.page-mt {
    margin-top: 6.5em;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {
    
}

/* Larger than phablet */
@media (min-width: 550px) {
    .header {
        margin-top: 18rem;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@media (prefers-color-scheme: dark) {
    @import "dark";
}
